.top-container{
    position: absolute;
    top: 0;
    height: 600px;
    width: 100%;
    padding: 26px;
}

.heading{
    font-size: 36px;
}

.carousal{
    height: 55vh;

}

.parent{
    position: relative;
}

.layer{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px;
}

.lhs{

}

.rhs{
    border-left: 2px solid lightgray;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    transform: scale(0.8);
    box-shadow: 3px 5px 11px darkgrey;
}

.header{
    height: 40px;
    max-height: 40px;
}

mat-expansion-panel{
    box-shadow: 1px 2px 7px darkgrey;
    margin-top: 20px;
}

.combo{
    background-color: darkgray;
    padding: 5px;
    border-radius: 10px;
}

.slidee{
    // float: left;
    // margin: 30px;
}

svg {
    background-color: transparent !important;
}

.point{
    span{
        padding: 4px;
        border-radius: 8px;
    }
}

.remove{
    transform: rotate(90deg)
}

.btn{
    i{
        font-size: 18px;
    }
}

::ng-deep .mat-chip-list-wrapper{
    float: left;
}

::ng-deep .mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
    margin: 8px 12px !important;
    background-color: darkcyan;
    color: white;
  font-family: Klavika-Regular
}

.footer{
    background-color: black;
    // height: 40px;
    padding: 12px ;
    margin-top: 18px;
}

.policies{
    div{
        font-size:15px;
    }
}

@media screen and (max-width: 599px) {
    .rhs{
        border-left: none;
    }
    .policies{
        div{
            font-size:12px;
        }
    }
    ::ng-deep .mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
        margin: 6px 8px !important;
    }
}
.myPanelClass{
    margin-top: 30px !important; 
}

::ng-deep .mat-option span{
    padding-left: 12px
}